*{
    box-sizing: border-box;
}

html{
    height: 100%;
}

body {
    font-family: "Manrope", sans-serif;
    margin: 0;
    height: 100%;
  }
img{
    display: block;
}

.main-page{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* header */

  .header{
    display: flex;
    align-items: center;
    height: 73px;
    border-bottom: 1px solid #e5e9f2;
  }

  .header-container{
    width: 1110px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }

  .logo{
    margin-right: 40px;
  }

  .nav{
    margin-top: -4px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1;
    color: #18191f;
  }

  .nav-link{
    margin-right: 32px;
    color: #18191f;
    text-decoration: none;
  }

  .nav-link:hover{
    color:#8C30F5;
  }

  .nav-link:last-child{
    margin-right: 0;
  }

  .appstore{
    margin-left: auto;
    display: flex;
  }

  .appstore-item{
    margin-left: 12px;
  }
  .appstore-item:first-child{
    margin-left: 0;
  }

  /* main */

  .main{

  }

  .main-container{
    width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding-top: 197px;
    padding-bottom: 197px;
  }

  .main-content{
    font-size: 18px;
    color: #18191F;
    width: 540px;
  }

  .main-img{

  }

  .main-header{
    margin-bottom: 16px;
    margin-top: 0;
    font-weight: 800;
    font-size: 72px;
    line-height: 1.36;
    color: #18191F;
  }

  .main-text{
    margin-bottom: 32px;

  }

  .main-text p {
    margin-bottom: 32px;
    font-size: 18px;
    line-height: 1.78;
  }

  .button{
    display: inline-block;
    height: 62px;
    background:#8C30F5 ;
    border-radius: 8px;
    padding-left: 35px;
    padding-right: 35px;
    font-weight: bold;
    font-size: 20px;
    line-height: 62px;
    color: #ffffff;
    text-decoration: none;
  }
  .button:hover{
    opacity: 0.8;
  }

    /* footer */

.footer{
    height: 72px;
    background-color: #0B0D17;
    color: #D9DBE1;
    align-items:center;
    display: flex;
}

.footer-container{
    width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.footer-copyright{
    font-size: 14px;
}

.footer-socials{
    display: flex;
}

.footer-socials-items{
    margin-left: 16px;
}